@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
input{
    font-family: 'Droid Arabic kufi', serif;
    font-size: 105%;
}
.hide{
    visibility: hidden;
}
.admin{
    background-color: rgb(40, 40, 247);
    color: rgb(179, 6, 6);
}

